* {
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --clr1: #3a92f0;
    --clr2: #b67de1;
    --clr3: #f872d9;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,var(--clr1),var(--clr2),var(--clr3));
}

/* NAV -------------------*/
.nav {
    display: flex;
    padding: 8px 8px;
    border-bottom: 1px solid rgba(247, 245, 245, 0.679);
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.nav .logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    background-color: rgb(103, 103, 227);
    padding: 0 15px;
    border-radius: 0 20px;
}

.nav .logo a {
    text-decoration: none;
}

.nav .list {
    display: flex;
}

.nav .list li {
    margin-right: 40px;
    list-style: none;
    font-size: 16px;
}

.nav .list li a {
    text-decoration: none;
    color: #fff;
}

.list li:hover {
    transition: ease 0.15s;
    transform: translateY(-5px);
}

.list li:first-child {
    font-weight: 800;
    display: flex;
    cursor: pointer;
}

.logo_account {
    margin-right: 15px;
}
/* ----------------------------- */
.kindRoom {
    margin: 80px 150px 0 150px;
    border-bottom: 4px dotted #fff;
}
/* Container-------------------- */
.container {
    margin: 0 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* item------------------------- */
.item {
    margin-top: 30px;
}

.item--add .content{
    border: 2px dotted black;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
}

/* Icon plus */
.item--add .content .fa-plus{
    position: absolute;
    font-size: 64px;
    border: 4px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

/* Icon trash can, icon edit */
.content .fa-trash-can, .fa-pen-to-square {
    color: black;
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    transition: ease .5s;
}

.fa-pen-to-square {
    top: 20%;
    font-size: 18px;
}

.fa-trash-can:hover {
    background-color: #a0c9f6;
}

.fa-pen-to-square:hover {
    background-color: #a0c9f6;
}

.title_room {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.content  {
    height: 300px;
    width: 200px;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;

}

.pic_content {
    width: 200px;
    height: auto;
    border-bottom: 1px dashed #333;
    border-radius: 25px 25px 0 0;
}

.info {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 6px;
    height: 10px;
}
.info1, .info2, .info3 {
    color: #000;
}

.btn {
    width: 100%;
    background: linear-gradient(-90deg,var(--clr1),var(--clr2),var(--clr3));
    padding: 8px 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
}

.content:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    opacity: .8;
}
/* ----------------------------- */
/* ----------------------------- */
/* footer ---------------------- */
.footer {
    box-sizing: border-box;
    height: 220px;
    margin-top: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 34px;
}

.list-name {
    list-style: none;
}

.social-network {
    font-size: 25px;
    margin-top: 15px;
}

.fa-brands + .fa-brands {
    margin-left: 15px;
}
/* ------------------------------ */
/* Edit frame --------------------- */
.editFrame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 350px;
    background-color: #fff;
    z-index: 1;
    visibility: hidden;
    box-sizing: border-box;
    padding: 30px;
    border: 2px solid #000;
}

.titleEdit {
    display: flex;
    justify-content: space-between;
}

.titleEdit h2 {
    color: #000;
}

.fa-xmark {
    color: #000;
    font-size: 30px;
    cursor: pointer;
}
/* ContainEdit----------------------------- */
.containEdit {
    margin-top: 25px;
    line-height: 25px;
}

.contentEdit {
    color: #000;
    font-size: 22px;
}
.radioEdit {
    margin-left: 80px;
}

.containEdit #idP {
    margin-top: 8px;
    margin-left: 33px;
}

.containEdit input {
    color: #000;
    font-size: 18px;
    width: 60px;
}

.contentEdit label{
    color: #000;
}

.btnEdit input{
    width: 100%;
    color: #fff;
    margin-top: 15%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    background-color: #60adff;
    cursor: pointer;
}

.btnEdit:hover {
    opacity: 0.8;
}
/* Active class ----------------------------*/
.active {
    visibility: visible;
}
/* -------------------------------------- */

