* {
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --clr1: #3a92f0;
    --clr2: #b67de1;
    --clr3: #f872d9;
}

body {
    height: 100vh;
    background: linear-gradient(180deg,var(--clr1),var(--clr2),var(--clr3));
}

/* NAV -------------------*/
.nav {
    display: flex;
    margin-bottom: 50px;
    padding: 8px 8px;
    border-bottom: 1px solid rgba(247, 245, 245, 0.679);
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 10px;
    background-color: rgb(103, 103, 227);
    padding: 0 15px;
    border-radius: 0 20px;
}

.nav .list {
    display: flex;
}
.nav .list li {
    margin-right: 40px;
    list-style: none;
    font-size: 16px;
}

.nav .list li a {
    text-decoration: none;
    color: #fff;
}

.list li:hover {
    transition: ease 0.15s;
    transform: translateY(-5px);
}
/* -----------------------*/
/* Container--------------*/
.container {
    display: flex;
    justify-content: space-around;
}
/* Text greeting----------*/
.textGreeting {
    background-image: url(/assets/image/music_note.png);
    background-repeat: no-repeat;
}

.textGreeting h1 {
    margin-top: 70px;
    font-weight: 900;
    font-size: 48px;
    color: #fff;
    line-height: 80px;
}

.textGreeting h1 span{
    margin-left: 120px;
}

.textGreeting h3 {
    margin-top: 60px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 22px;
    z-index: 2;
}
/*  ----------------------*/
/* Login------------------*/
.login {
    height: 65vh;
    width: 400px;
    background-color: rgba(214, 190, 213, 0.521);
    box-sizing: border-box;
    padding: 20px 40px;
    line-height: 50px;
    display: block;
    text-align: center;
    border: 5px rgba(234, 234, 234, 0.88) double;
    border-radius: 5px;
    color: #fff;
}

.login h1 {
    margin-bottom: 30px;
}
.form-text {
    display: flex;
    margin-bottom: 20px;
}

.form-text label {
    font-weight: bold;
    font-size: 18px;
    min-width: 110px;
}

.form-text input {
    padding-left: 10px;
    border: none;
    box-sizing: border-box;
    outline: 0;
    min-width: 200px;
    border-radius: 5px;
    color: black;
}

.submit input {
    padding: 10px 0;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: rgb(236, 47, 230);
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    opacity: 0.5;
}
/*  ----------------------*/
/*  ----------------------*/